.advantages {
  .container;
  width: @mobile-width;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }
  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.advantages__title {
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 12px;
    margin-left: 30px;
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 37px;
    margin-left: 40px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 22px;
  padding-right: 20px;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding: 0;
  }
}

.advantages__item {
  position: relative;
  width: 77%;
  margin-bottom: 24px;
  padding-top: 2px;
  color: #444444;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    width: 50%;
    min-height: 270px;
    margin-top: 33px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: @desktop-width) {
    width: 25%;
  }
}

.advantages__text {
  position: relative;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 260px;
    margin-top: 110px;
    padding-left: 30px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 40px;
  }
}

.advantages__item-number {
  display: none;
}

.advantages__text--benefit::before {
  background: @base-green-color url("../img/advantage-leaf@2x.png") no-repeat 50% 50%;
}

.advantages__text--powder::before {
  background: @base-green-color url("../img/advantage-powder@2x.png") no-repeat 50% 50%;
}

.advantages__text--dining::before {
  background: @base-green-color url("../img/advantage-dining@2x.png") no-repeat 50% 50%;
}

.advantages__text--changes::before {
  background: @base-green-color url("../img/advantage-clock@2x.png") no-repeat 50% 50%;
}

.advantages__text--benefit::before,
.advantages__text--powder::before,
.advantages__text--dining::before,
.advantages__text--changes::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -80px;
  width: 60px;
  height: 60px;
  background-size: 90%;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    top: -112px;
    left: 30px;
    background-size: 70%;
  }
  @media (min-width: @desktop-width) {
    left: 40px;
  }
}

.advantages__item-number {
  @media (min-width: @tablet-width) {
    display: inline-block;
    position: absolute;
    bottom: 11%;
    left: 37%;
    color: #f2f2f2;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    z-index: -1;
  }
  @media (min-width: @desktop-width) {
    left: 47%;
  }
}
