.button {
  border: none;
  background-color: #68b738;
  color: white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.button:visited {
  color: white;
}
