.gift-product {
  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.gift-product__text {
  color: white;
  font-size: 16px;
  line-height: 20px;
}
