.nav-list {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
}

.nav-list__link,
.nav-list__link:visited {
  color: black;
}
