.nav-list {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 51px;
    font-size: 20px;
    line-height: 24px;
  }
}

.nav-list__link {
  color: black;
  @media (min-width: @tablet-width) {
    margin-left: 37px;
  }
  @media (min-width: @desktop-width) {
    color: white;
    margin-left: 37px;
  }

  &:visited {
    color: black;
    @media (min-width: @desktop-width) {
      color: white;
    }
  }
}

.nav-list__link--black,
.nav-list__link--black:visited {
  color: black;
}

.nav-list__item {
  height: 43px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  padding-top: 22px;
  letter-spacing: 0.6px;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    letter-spacing: -0.1px;
  }
  @media (min-width: @desktop-width) {
    letter-spacing: -0.1px;
  }
}
