.programs {
  .container;
  width: @mobile-width;
}

.programs__list {
  display: flex;
  flex-direction: column;
  padding: 6px 20px;
  margin-bottom: 0;
  list-style: none;
}

.programs__item {
  position: relative;
  width: 280px;
  min-height: 266px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.programs__icon-first {
  content: url("../img/icon-cat-slim.svg");
  position: absolute;
  height: 50px;
  left: 29px;
  top: 20px;
  z-index: 1;
}

.programs__icon-second {
  content: url("../img/icon-cat-pro.svg");
  position: absolute;
  width: 67px;
  left: 13px;
  top: 34px;
  z-index: 1;
}

.programs__title {
  margin-top: 30px;
  margin-left: 91px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__title::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @base-green-color;
}

.programs__description {
  max-width: 85%;
  margin-top: 29px;
  margin-left: 20px;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.programs__link {
  display: inline-block;
  width: 86%;
  margin-top: 8px;
  margin-left: 19px;
  padding-top: 19px;
  border-top: 1px solid #e3e3e3;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.programs__link,
.programs__link:visited {
  color: black;
}

.programs__arrow {
  display: inline-block;
  position: relative;
  bottom: 5px;
  left: 9px;
  width: 18px;
  height: 3px;
  background-color: #3e4242;
}

.programs__arrow::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 18px;
  border: 5.5px solid transparent;
  border-left: 5.5px solid #3e4242;
}

@media (min-width: @tablet-width) {
  .programs {
    width: @tablet-width;
  }
  .programs__list {
    margin-top: 240px;
  }
  .programs__item {
    width: @tablet-content;
    min-height: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .programs__title {
    margin-top: 75px;
    margin-left: 54px;
    margin-bottom: -3px;
    font-size: 36px;
    line-height: 36px;
  }
  .programs__description {
    max-width: 53%;
    margin-left: 53px;
    font-size: 16px;
    line-height: 24px;
  }
  .programs__description-second{
    max-width: 48%;
  }
  .programs__link {
    margin-top: 23px;
    margin-left: 54px;
    border-top: none;
    font-size: 20px;
    line-height: 20px;
  }
  .programs__arrow {
    bottom: 7px;
    left: 18px;
  }
  .programs__icon-first {
    height: 195px;
    left: 476px;
    top: 79px;
  }
  .programs__icon-second {
    width: 268px;
    left: 412px;
    top: 134px;
  }
  .programs__title::before {
    top: 90px;
    left: 447px;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    width: @desktop-width;
  }
  .programs__list {
    flex-direction: row;
    justify-content: space-between;
    width: 93.7%;
    margin: 0 auto;
  }
  .programs__item {
    width: 570px;
    min-height: 372px;
    margin-left: 0;
    margin-right: 0;
  }
  .programs__title {
    margin-top: 77px;
    margin-left: 213px;
    margin-bottom: 74px;
  }
  .programs__description {
    max-width: 83%;
    margin-left: 51px;
    margin-bottom: -11px;
  }
  .programs__link {
    margin-left: 51px;
    border-top: none;
    font-size: 20px;
    line-height: 20px;
  }
  .programs__icon-first {
    height: 97px;
    left: 65px;
    top: 39px;
  }
  .programs__icon-second {
    width: 134px;
    left: 34px;
    top: 69px;
  }
  .programs__title::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}
