@import "fonts.less";
@import "normalize.less";

body {
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@import "blocks/main-nav.less";
@import "blocks/program-selection.less";
@import "blocks/button.less";
@import "blocks/programs.less";
@import "blocks/advantages.less";
