@import "fonts.less";
@import "normalize.less";


body {
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/*---------------------------------*\
    универсальные блоки
\*---------------------------------*/
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/nav-list.less";
@import "blocks/contacts.less";
@import "blocks/page-footer.less";
@import "blocks/button.less";



/*---------------------------------*\
    index.html
\*---------------------------------*/
@import "blocks/program-selection.less";
@import "blocks/programs.less";
@import "blocks/advantages.less";
@import "blocks/example.less";



/*---------------------------------*\
    form.html
\*---------------------------------*/
@import "blocks/main-catalog.less";
@import "blocks/catalog.less";
@import "blocks/product.less";
@import "blocks/more-goods.less";
@import "blocks/additional-goods.less";
@import "blocks/gift-product.less";



/*---------------------------------*\
    catalog.html
\*---------------------------------*/
@import "blocks/main-form.less";
@import "blocks/form.less";
